* text=auto !eol
/dev-32.png -text
/dev_options.php -text
formulaires/charter.html -text
formulaires/charter.php -text
inc/minipres.php -text
lang/charter_fr.php -text
modeles/typo.html -text
/plugin.xml -text
prive/squelettes/contenu/charte.html -text
prive/squelettes/contenu/charte_boites.html -text
prive/squelettes/contenu/charte_forms.html -text
prive/squelettes/contenu/charte_icones.html -text
prive/squelettes/contenu/charte_listes.html -text
prive/squelettes/contenu/charte_php.html -text
prive/squelettes/contenu/charte_typo.html -text
prive/squelettes/top/charte.html -text
prive/squelettes/top/charte_boites.html -text
prive/squelettes/top/charte_forms.html -text
prive/squelettes/top/charte_icones.html -text
prive/squelettes/top/charte_listes.html -text
prive/squelettes/top/charte_typo.html -text
