* text=auto !eol
/dev-32.png -text
/dev_fonctions.php -text
/dev_options.php -text
formulaires/charter.html -text
formulaires/charter.php -text
formulaires/charter_chantier_en_cours.html -text
inc/minipres.php -text
lang/charter.xml -text
lang/charter_ar.php -text
lang/charter_en.php -text
lang/charter_es.php -text
lang/charter_fa.php -text
lang/charter_fr.php -text
lang/charter_nl.php -text
lang/charter_sk.php -text
lang/paquet-dev.xml -text
lang/paquet-dev_ar.php -text
lang/paquet-dev_en.php -text
lang/paquet-dev_es.php -text
lang/paquet-dev_fa.php -text
lang/paquet-dev_it.php -text
lang/paquet-dev_nl.php -text
lang/paquet-dev_ru.php -text
lang/paquet-dev_sk.php -text
modeles/typo.html -text
prive/squelettes/contenu/charte.html -text
prive/squelettes/contenu/charte_boites.html -text
prive/squelettes/contenu/charte_forms.html -text
prive/squelettes/contenu/charte_icones.html -text
prive/squelettes/contenu/charte_listes.html -text
prive/squelettes/contenu/charte_php.html -text
prive/squelettes/contenu/charte_typo.html -text
prive/squelettes/top/charte.html -text
prive/squelettes/top/charte_boites.html -text
prive/squelettes/top/charte_forms.html -text
prive/squelettes/top/charte_icones.html -text
prive/squelettes/top/charte_listes.html -text
prive/squelettes/top/charte_typo.html -text
