<plugin>
	<nom>Developpement</nom>
	<auteur>Collectif SPIP</auteur>
	<version>0.1.0</version>
	<etat>dev</etat>
	<slogan>Outils de developpement</slogan>
	<description>Outils de developpement</description>
	<prefix>dev</prefix>
	<categorie>outil</categorie>

	<necessite id="SPIP" version="[3.0.0-dev;)" />
	<options>dev_options.php</options>
	
	<onglet id='charte' parent='charte'>
		<titre>charter:titre_charte</titre>
		<url>charte</url>
	</onglet>
	<onglet id='charte_icones' parent='charte'>
		<titre>charter:titre_icones</titre>
		<url>charte_icones</url>
	</onglet>
	<onglet id='charte_typo' parent='charte'>
		<titre>charter:titre_typo</titre>
		<url>charte_typo</url>
	</onglet>
	<onglet id='charte_boites' parent='charte'>
		<titre>charter:titre_boites</titre>
		<url>charte_boites</url>
	</onglet>
	<onglet id='charte_listes' parent='charte'>
		<titre>charter:titre_listes</titre>
		<url>charte_listes</url>
	</onglet>
	<onglet id='charte_forms' parent='charte'>
		<titre>charter:titre_formulaires</titre>
		<url>charte_forms</url>
	</onglet>

</plugin>

